{
	"fileShare": {
		"path": "\\\\some\\escaped\\path",
		"userName": "escaped\\userName",
		"password": "password"
	},
	"domains": [
		{
			"names": [ "somedomain.org" , "www.somedomain.org", "beta.somedomain.org"],
			"contact": "certs@somedomain.org"
		}
	]
}